<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron bg-light p-5 rounded-lg shadow-sm">
        <h1 class="display-4">¡Bienvenido a Mecánica App!</h1>
        <p class="lead">Tu solución integral para la gestión de servicios mecánicos.</p>
        <hr class="my-4">
        <p>Ofrecemos una plataforma robusta para administradores, clientes y técnicos.</p>
        <a class="btn btn-primary btn-lg" routerLink="/auth/register" role="button">Regístrate ahora</a>
      </div>
    </div>
  </div>
</div>
