<h1 class="text-center my-4 services-title">Nuestros Servicios</h1>
<div class="container mt-4 mb-4 cuadroPrincipal">
	<div class="row g-3">
		<!-- Primera tarjeta -->
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_1">
					<div class="opacidad"></div>
						<img src="/assets/img/Servicios/1.jpg"
							class="card-img img-fluid img-cuadro"
							alt="Técnico en Electricidad Automotriz" width="350px"
							height="160px">
						<div class="card-img-overlay">
							<h5 class="card-title">TÉCNICO EN ELECTRICIDAD AUTOMOTRIZ</h5>
						</div>

				</a>
			</div>
		</div>
		<!-- Repite el patrón para las demás tarjetas -->
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_2">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/2.jpg"
					class="card-img img-fluid img-cuadro" alt="Mecánico Automotriz"
					width="350px" height="160px">
					<div class="card-img-overlay">
						<h5 class="card-title">MECÁNICO AUTOMOTRIZ</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_3">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/3.jpg"
					class="card-img img-fluid img-cuadro" alt="Técnico en Frenos"
					width="350px" height="160px">
					<div class="card-img-overlay">
						<h5 class="card-title">TÉCNICO EN FRENOS</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_4">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/4.jpg"
					class="card-img img-fluid img-cuadro" alt="Técnico en Frenos"
					width="350px" height="160px">
					<div class="card-img-overlay">
						<h5 class="card-title">ESPECIALISTA EN CLIMATIZACIÓN</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_5">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/5.jpg"
					class="card-img img-fluid img-cuadro" alt="Técnico en Frenos">
					<div class="card-img-overlay">
						<h5 class="card-title">TÉCNICO EN NEUMÁTICOS</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_6">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/6.jpg"
					class="card-img img-fluid img-cuadro" alt="Técnico en Frenos">
					<div class="card-img-overlay">
						<h5 class="card-title">TÉCNICO EN SUSPENSIÓN Y DIRECCIÓN</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_7">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/7.jpg"
					class="card-img img-fluid img-cuadro" alt="Técnico en Frenos">
					<div class="card-img-overlay">
						<h5 class="card-title">ESPECIALISTA EN CARROCERÍA Y PINTURA</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_8">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/8.jpg"
					class="card-img img-fluid img-cuadro" alt="Técnico en Frenos">
					<div class="card-img-overlay">
						<h5 class="card-title">TÉCNICO EN DIAGNÓSTICO COMPUTARIZADO</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-4 col-lg-4">
			<div class="card">
				<a href="/servicios/cuadro_9">
					<div class="opacidad"></div> <img src="/assets/img/Servicios/9.jpg"
					class="card-img img-fluid img-cuadro" alt="Técnico en Frenos">
					<div class="card-img-overlay">
						<h5 class="card-title">TÉCNICO EN MANTENIMIENTO DE VEHÍCULOS
							HÍBRIDOS Y ELÉCTRICOS</h5>
					</div>
				</a>
			</div>
		</div>

	</div>
</div>
