<div class="dashboard-container">
  <h2 class="welcome-message">Bienvenido, {{ adminName }}!</h2>
  <p class="dashboard-intro">Aquí puedes gestionar las diferentes secciones de tu panel de administración.</p>

  <div class="card-grid">
    <div class="dashboard-card" *ngFor="let card of dashboardCards" [routerLink]="card.routerLink">
      <div class="card-icon">
        <i class="{{ card.icon }}"></i>
      </div>
      <h3 class="card-title">{{ card.title }}</h3>
      <p class="card-description">{{ card.description }}</p>
      <button class="btn btn-card">Ir a {{ card.title }}</button>
    </div>
  </div>
</div>
